<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Text Summarization Project</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.05);
      }
      100% {
        transform: scale(1);
      }
    }

    body {
      background-color: white;
    }


  </style>
</head>
<body>
  <h1 style="background-color: rgb(56, 247, 215); text-align: center; padding: 40px 0; font-size: 2.5em; font-weight: bold;">
    Text Summarization Project
  </h1>

  <div class="flex max-w-[1500px] w-[100%] justify-center m-auto h-[100vh]" name="success-analytics">

    <!-- Hero Section Starts -->
    <section class="grid sm:grid-cols-2 gap-2 min-w-[100%]" name="success-analytics">
      <div class="flex justify-center items-center success-analytics" name="success-analytics">
        <div name="success-analytics">
          <div class="rounded-md border" name="success-analytics">
            <img src="https://icon-library.com/images/summarize-icon/summarize-icon-9.jpg"alt="Laptop" class="h-[300px] w-full rounded-md object-cover"  name="success-analytics" width="1000" height="1000" />
            <div class="px-2" name="success-analytics">
              <form action="/train" method="POST">
                <button type="submit" class="my-2 w-full rounded-sm bg-black px-2.5 py-1 text-[25px] font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black transition duration-300 ease-in-out transform hover:scale-105 processing-animation">
                  Train Model
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-center items-center success-analytics" name="success-analytics">
        <div name="success-analytics">
          <div class="rounded-md border" name="success-analytics">
            <img src="https://icon-library.com/images/summarize-icon/summarize-icon-9.jpg"  class="h-[300px] w-full rounded-md object-cover" name="success-analytics" width="1000" height="1000" />
            <div class="px-2" name="success-analytics">
              <button type="button" class="my-2 w-full rounded-sm bg-black px-2.5 py-1 text-[25px] font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black transition duration-300 ease-in-out transform hover:scale-105">
                <a href="/predict">Summarize</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Hero Section Ends -->
  </div>
</body>
</html>

